.parts_02
  .desc.clearfix
    .colL
      .card_face
        a(href='/link/orico/the_point.html', target='_blank')
          img.card(src='/images/orico_point.gif', alt='オリコカード ザ ポイント', width='200', height='126', border='0')
      .card_name
        a(href='/link/orico/the_point.html', target='_blank') オリコカード ザ ポイント
      .to_link
        a(href='/card/orico/the_point.html')
          img(src='/images/b_parts_01.gif', alt='詳細', width='95', height='44', border='0')
        a(href='/link/orico/the_point.html', target='_blank')
          img(src='/images/b_parts_02.gif', alt='お申込み', width='95', height='44', border='0')
    .colR
      p
        | クレジットカード選びのポイントは、どれほど有効的に使用できるかという点です。
        br
        | ポイントプログラムをどれほど使用できるかどうかは、個人的にも家族にも、金額的に大きな違いが生じます。
        br
        | オリコカードの中でもオリコカードザポイントはポイントが貯まりやすく、使いやすいカードなので、長期的に利用するのであればオリコカードザポイントを選ぶべきです。
