.wrap--block
  .arrow--big
    p
      br
      |迷ったら
      br
      |コレ！
.block.block--card.block--card--2
  br
  .cardface
    a(href='/link/life/standard.html', target='_blank')
      img(src='/images/life_standard.gif', alt='', width='500')
    a.side(href='/link/life/standard.html', target='_blank')
    // 横リンク
  a.link(href='/link/life/standard.html', target='_blank') ライフカード
.block.col2
  .right
    .btn.btn--order--02
      a(href='/link/life/standard.html', target='_blank')
        |お申し込みはこちら
div.wrap-block.mojisoushoku
  table.normal(width="95%" align="center")
    tr
      th(width='34%') 年会費
      td(width='278') 無料
    tr
      th ポイント
      td 1000円＝1.0P
    tr
      th ポイントボーナス
      td(width='278')
        | ・100円で0.1ポイント　　ポイントはステージ制で年間利用額により最大2倍
        br
        |         ・誕生月利用で5倍
        br
        |         ・年間50万円以上の利用で300ポイント付与、次年度ポイント1.5倍
        br
        |         ・入会後1年間はポイント1.5倍
        br
        |         ・Ｌ-mall経由のネットショッピングでポイント最大25倍
    tr
      th ポイント有効期限
      td 5年
