.wrap--block
  .arrow--big
    p
      br
      |迷ったら
      br
      |コレ！
.block.block--card.block--card--2
  br
  .cardface
    a(href='/link/mitsui/classic.html', target='_blank')
      img(src='/images/mitsui_classic_sp.gif', alt='', width='500')
    a.side(href='/link/mitsui/classic.html', target='_blank')
    // 横リンク
  a.link(href='/link/mitsui/classic.html', target='_blank') 三井住友VISAクラシックカード
.block.col2
  .right
    .btn.btn--order--02
      a(href='/link/mitsui/classic.html', target='_blank')
        |お申し込みはこちら
div.wrap-block.mojisoushoku
  table.normal(width="95%" align="center")
    tr
      th
        |初年度
        br
        |年会費
      th 年会費
      th
        |ETC
        br
        |専用カード
      th 発行期間
    tr
      td
        strong.red 無料
      td
        |1,312円
        br
        span.red 条件により無料
      td
        span.red 初年度無料
      td 最短3営業日
    tr
      th 還元率
      th
        |海外旅行
        br
        |保険
      th
        |国内旅行
        br
        |保険
      th
        |ショッピング
        br
        |保険
    tr
      td  0.5％
      td 最高2000万円
      td -
      td 最高100万円

  p
    a(href='/link/mitsui/classic.html', target='_blank') 三井住友VISAクラシックカード
    |は
    strong.red 信頼と安心のクレジットカード。
    |世界各地で使えるVISAカードであることはもちろん、iD・WAON搭載など、普段使いにもオススメです。
    br
    br
    |しかも今ならご入会で
    br
    span.red 最大8,000円分
    span.red プレゼント
    |キャンペーン中！お見逃しなく！
    br
    |（12/28まで）
