.wrap--block
  .arrow--big
    p
      br
      | 迷ったら
      br
      | コレ！
.block.block--card.block--card--2
  br
  .cardface
    a(href='/link/mobit/mobit.html', target='_blank')
      img(src='/images/mobit.gif', alt='', width='500')
    a.side(href='/link/mobit/mobit.html', target='_blank')
    // 横リンク
  a.link(href='/link/mobit/mobit.html', target='_blank') モビット
.block.col2
  .right
    .btn.btn--order--02
      a(href='/link/mobit/mobit.html', target='_blank')
        | お申し込みはこちら
