.wrap--block
  .arrow--big
    p
      br
      | 迷ったら
      br
      | コレ！
.block.block--card.block--card--2
  br
  .cardface
    a(href='/link/rakuten/premium.html', target='_blank')
      img(src='/images/rakuten_premium.gif', alt='', width='500')
    a.side(href='/link/rakuten/premium.html', target='_blank')
    // 横リンク
  a.link(href='/link/rakuten/premium.html', target='_blank') 楽天プレミアムカード
.block.col2
  .right
    .btn.btn--order--02
      a(href='/link/rakuten/premium.html', target='_blank')
        | お申し込みはこちら
