.wrap--block
  .arrow--big
    p
      br
      | 迷ったら
      br
      | コレ！
.block.block--card.block--card--2
  br
  .cardface
    a(href='/link/orico/the_point.html', target='_blank')
      img(src='/images/orico_standard_sp.png', alt='', width='500')
    a.side(href='/link/orico/the_point.html', target='_blank')
    // 横リンク
  a.link(href='/link/orico/the_point.html', target='_blank') オリコカード ザ ポイント
.block.col2
  .right
    .btn.btn--order--02
      a(href='/link/orico/the_point.html', target='_blank')
        | お申し込みはこちら
