//#include virtual="/sp/menu.html"
//#include virtual="/tag/tag01.html"
script(src="/sp/assets/js/lib/jquery.js")
script(src="/sp/assets/js/lib/mmenu/jquery.mmenu.min.js")
script(src="/sp/assets/js/lib/slider/jquery.bxslider.js")
script(src="/sp/assets/js/lib.js")
script(src="/sp/assets/js/lib/jquery.scrollUp.js")
script(src="/sp/assets/js/config.js")
script(src="/sp/assets/js/app.js")
